.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
    float: left;
    padding: 10px;
    /*border: 1px solid green;*/
}
.leftcolumn {
  float: left;
}
.rightcolumn {
  float: right;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.content {
  width: 100%;
  height: 3000px;
}
header {
  width: 100%;
  height: 73px;
  border-bottom: 1px solid #f3f3f3;
}

header .col1 {
  width: 11.77%;
  float: left;
  padding-left: 22px;
  padding-top: 10px;
  display: block;
}
header .col1 h1 {
  font-family: 'Neuton', serif;
  font-size: 2.2em;
}

header .col2 {
  width: 77.15%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 0.9em;
  /*padding-left: 10px;*/
  padding-top: 30px;
  float: left;
  display: block;
  /*border: 1px solid blue;*/
}

header .col2 ul {
  list-style-type: none;
  word-spacing: 2px;
}

header .col2 li {
  margin-right: 21px;
  display: inline;
  letter-spacing: -1px;
}

header .col2 li:hover {
  color: red;
}

header .col3 {
  width: 11.08%;
  float: left;
  padding-right: 10px;
  padding-top: 10px;
}

header .col3 .buton {
  display: inline;
  float: left;
  text-align: center;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #f3f3f3;
  margin-right: 15px;
}
header .col3 .buton img {
  border-radius: 50%;
}

/***************************************************/
.colstanga {
  float:left;
  width: 72.84%;
  border: 1px solid #f9f9f9;
  height: 2000px;
}

.stiri {
  width: 68.00%;
  color: gray;
  margin: 0 auto;
  padding-top: 62px;
}

.body_stire {
  padding-bottom: 18px;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 25px;
}

.body_stire .singleimg {
  margin-left: 128px;
}

.row::after{
  content:"";
  display: block;
  clear: both;
}

.row_col1 {
  float: left;
  width: 81.46%;
}

.row_col1 h1 {
  color: black;
  font-size: 1.5em;
}
.row_col1 h2 {
  color: black;
  font-size: 1.1em;
  margin-top: 10px;
}
.row_col1 h3 {
  color: gray;
  margin-top: 5px;
  line-height: 1.8em;
}

.row_col2 {
  float: left;
  width: 18.54%;
  padding-top: 33px;
}

.row_col2 img {
  float: left;
}

.row_col3 {
  float: left;
  margin-top: 18px;
}

.row_col4 {
  float: left;
  padding-left: 15px;
  margin-top: 18px;
}
.row_col4 h4 {
  color: gray;
}
.row_col4 h5 {
  color: gray;
}

span {
  color: #00b300;
}

.footer1 {
  background: url(../img/bg1.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 467px;
  margin-top: 68px;
  padding: 169px 100px 50px 223px;
}

.footer1 h1 {
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 3.2em;
}

.footer1 h3 {
  color: #626c6b;
  margin-top: 8px;
  line-height: 1.7em;
}

.footer1 a {
  background-color: #61b977;
  border-radius: 20px;
  padding 5px 55px;
  width: 100px;
}

.columns {
  border-top: 1px solid #f2f2f2;
  width: 68%;
  margin: 50px auto;
  padding-top: 20px;
}

.columns h4 {
  color: #3c3d3d;
  font-size: 0.9em;
  float: left;
}

.columns h5 {
  color: #d1d1d1;
  float: right;
  flex:
}

#borderimg1, #borderimg2, #borderimg3 {
  width: 29.3%;
  height: 374px;
  float: left;
  margin-top: 25px;
  margin-right: 35px;
  color: red;
  border: 9px solid transparent;
  border-image-slice: 50;
  padding: 28px 20px;
  margin-bottom: 50px;
}
#borderimg1 {
  border-image-source: url(../img/box1.jpg);
}
#borderimg2 {
  border-image-source: url(../img/box2.jpg);
}
#borderimg3 {
  border-image-source: url(../img/box3.jpg);
}

.border_header {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 25px;
}

.border_header::after {
  clear: both;
  content: "";
  display: block;
}

.border_header img {
  float: left;
  margin-right: 15px;
}
.border_header h5 {
  color: #333333;
  font-size: 1.1em;
  float: left;
}

.border_content {
  padding-top: 15px;
  color: #b6b6b6;
  font-size: 0.9em;
  line-height: 1.6em;
  border-bottom: 1px solid #eeeeee;
}

.border_content .leftcolumn {
  width: 50%;
  margin-top: 30px;
  text-align: center;
  padding-bottom: 20px;
}

.bordernumber {
  color: black;
  font-size: 1.3em;
}
.footer {
  margin-top: 15px;
  text-align: center;
  color: #61b977;
  border-radius: 10px;
  line-height: 2em;
}

.footer a{
  text-decoration: none;
  width: 50px;
  color: #61b977;
  border: 1px solid #61b977;
  border-radius: 10px;
  line-height: 2em;
  border: 1px solid #61b977;
}

.footer2 {
  height: 566px;
  background: url(../img/bg2.jpg);
  background-size: cover;
  padding-top: 70px;
}

.content_footer2 {
  border-top: 1px solid #ddc2b6;
  padding-top: 25px;
  width: 68%;
  margin: 0 auto;
}

.content_footer2 h4 {
  color: #333333;
  font-size: 0.9em;
  margin-bottom: 20px;
}

.box {
  width: 31%;
  margin-right: 20px;
  float: left;
  border: 1px solid #f5d6c8;
  background: white;
  padding: 20px 30px;
}

.box_header {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 20px;
}

.box_header img {
  float: left;
  margin-right: 15px;
}

.box_header h5 {
  color: #333333;
  font-size: 1.1em;
  float: left;
}

.box_header::after {
  clear: both;
  content: "";
  display: block;
}

.box_content {
    border-bottom: 1px solid #eeeeee;
    padding-top: 15px;
    line-height: 1.3em;
}

.box_content h6 {
  color: #b6b6b6;
  font-size: 0.9em;
}

.box_content h5 {
  color: #b6b6b6;
  line-height: 3em;
}

.box_content h3 {
  font-size: 1em;
}

.box_content h4 {
  color: #333333;
  font-size: 0.88em;
}

.box_content h4 span {
  color: #b6b6b6;
}

.footer3 {
  background: url(../img/bg3.jpg);
  border-top: 3px solid #f5f5f5;
  border-bottom: 3px solid #f5f5f5;
  width: 100%;
  height: 530px;
  margin-top: 68px;
  padding: 169px 100px 50px 223px;
}

.coldreapta {
  float:left;
  width: 27.16%;
  height: 1000px;
  border: 1px solid #f4f4f4;
  background-color: #fafafa;
  position: relative;
}

.cdfooter {
  width: 100%;
  padding: 32px;
  padding-bottom: 40px;
}

.cdfooter::after {
  display: block;
  content: "";
  clear: both;
}

.cdfooter_content {
  border-top: 1px solid #eeeeee;
  /*margin: 0 auto;*/
  padding-top: 20px;
}

.coldreapta h4 {
  color: #3c3d3d;
  font-size: 0.9em;
  letter-spacing: 1px;
  float: left;
}

.coldreapta h5 {
  color: #cdcdcd;
  float: right;
  margin-bottom: 20px;
}

.index {
  width: 10%;
  float: left;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 1.5em;
  border: 1px solid #eff0f1;
  border-radius: 50%;
  background-color: white;
  margin-top: 25px;
}

.textindex {
  width: 90%;
  float: left;
  padding-left: 21px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
  margin-top: 15px;
}

.textindex h3{
  color: #333333;
}

.textindex h6 {
  color: #c8c8c8;
  font-size: 1em;
  line-height: 2em;
}

.coldreapta .footer {
  background: url(../img/bg4.jpg);
  height: 394px;
  background-size: cover;
  border-radius: 0;
  padding-top: 100px;
  padding-left: 40px;
  text-align: left;
  margin-bottom: 30px;
}

.coldreapta .footer h3{
  color: #c1c1c1;
  font-size: 0.9em;
}

.coldreapta .footer h1{
  color: #333333;
  font-size: 1.5em;
}

.coldreapta .footer h2{
  color: #a9abac;
  font-size: 1em;
  line-height: 1.5em;
}

.coldreapta ul {
  padding-left: 20px;
}

.coldreapta li {
  color: #bababa;
  display: inline;
  font-size: 0.8em;
  margin-right: 15px;

}
